# Practice1: Introduction to Machine Learning, Python and Jupyter notebooks

Use this notebook as the starting point for Practice 1 activities.

Student Name: *Your name here*

## Part 1: Intro to Machine Learning

Review the following and then answer the questions below:
- Watch the 5-minute YouTube video, [What is Machine Learning? ](https://www.youtube.com/watch?v=HcqpanDadyQ&t=38s&index=2&list=PLIivdWyY5sqJxnwJhe3etaK7utrBiPBQ2)from Google's AI Adventures)
- Read [Machine Learning Introduction: A Comprehensive Guide](https://towardsdatascience.com/machine-learning-introduction-a-comprehensive-guide-af6712cf68a3) by Victor Roman at towardsdatascience.com

Question 1: What are the main parts of a machine learning system?

---

Answer:

Question 2: What is the key difference between **supervised** and **unsupervised** learning?

---

Answer:

Question 3: What are two types of supervised learning?

---

Answer:

## Part 2: Intro to Python

Review the first two lesson's in Kaggle's Introduction to Python course:
- [Hello, Python!](https://www.kaggle.com/colinmorris/hello-python)

Copy and paste the main code segments from these lessons into the cells below. 
You can put a number of lines in each cell or add additional code cells if needed.

In [0]:
spam_amount = 0
print(spam_amount)

# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
spam_amount = spam_amount + 4

if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam " * spam_amount
print(viking_song)

0
But I don't want ANY spam!
Spam Spam Spam Spam

## Part 3: Introduction to Juptyer Notebooks
[Introduction to Jupyter Notebooks ](https://www.dataquest.io/blog/jupyter-notebook-tutorial/)by DataQuest.
- Skip the first couple sections which cover how to install Anaconda Python with Jupyter Notebooks
- Focus on the following sections:
   - The notebook interface 
   - Cells
   - Keyboard shortcuts (not as important)
   - Markdown
   - Kernels
-Example analysis: Implement the this example below

In [0]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style="darkgrid")

In [0]:
# df = pd.read_csv('fortune500.csv')

df = pd.read_csv('https://www.dataquest.io/blog/large_files/fortune500.csv')

In [0]:
# Display the first couple lines
df.head()

   Year  Rank           Company  Revenue (in millions) Profit (in millions)
0  1955     1    General Motors                 9823.5                  806
1  1955     2       Exxon Mobil                 5661.4                584.8
2  1955     3        U.S. Steel                 3250.4                195.4
3  1955     4  General Electric                 2959.1                212.6
4  1955     5            Esmark                 2510.8                 19.1

The head command display the first set of sample records from the dataframe.